@charset "utf-8";

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NanumGothic-Regular.eot);
  src: url(fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
    url(fonts/NanumGothic-Regular.woff2) format('woff2'),
    url(fonts/NanumGothic-Regular.woff) format('woff'),
    url(fonts/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/NanumGothic-Bold.eot);
  src: url(fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
    url(fonts/NanumGothic-Bold.woff2) format('woff2'),
    url(fonts/NanumGothic-Bold.woff) format('woff'),
    url(fonts/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 800;
  src: url(fonts/NanumGothic-ExtraBold.eot);
  src: url(fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
    url(fonts/NanumGothic-ExtraBold.woff2) format('woff2'),
    url(fonts/NanumGothic-ExtraBold.woff) format('woff'),
    url(fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumMyeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NanumMyeongjo-Regular.eot);
  src: url(fonts/NanumMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
    url(fonts/NanumMyeongjo-Regular.woff2) format('woff2'),
    url(fonts/NanumMyeongjo-Regular.woff) format('woff'),
    url(fonts/NanumMyeongjo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumMyeongjo';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/NanumMyeongjo-Bold.eot);
  src: url(fonts/NanumMyeongjo-Bold.eot?#iefix) format('embedded-opentype'),
    url(fonts/NanumMyeongjo-Bold.woff2) format('woff2'),
    url(fonts/NanumMyeongjo-Bold.woff) format('woff'),
    url(fonts/NanumMyeongjo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumMyeongjo';
  font-style: normal;
  font-weight: 800;
  src: url(fonts/NanumMyeongjo-ExtraBold.eot);
  src: url(fonts/NanumMyeongjo-ExtraBold.eot?#iefix) format('embedded-opentype'),
    url(fonts/NanumMyeongjo-ExtraBold.woff2) format('woff2'),
    url(fonts/NanumMyeongjo-ExtraBold.woff) format('woff'),
    url(fonts/NanumMyeongjo-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'JSArirang';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/JSArirang.eot);
  src: url(fonts/JSArirang.eot?#iefix) format('embedded-opentype'),
    url(fonts/JSArirang.woff) format('woff'),
    url(fonts/JSArirang.ttf) format('truetype');
}

@font-face {
  font-family: 'JSArirangHon';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/JSArirangHON.eot);
  src: url(fonts/JSArirangHON.eot?#iefix) format('embedded-opentype'),
    url(fonts/JSArirangHON.woff) format('woff'),
    url(fonts/JSArirangHON.ttf) format('truetype');
}

@font-face {
  font-family: 'JSDongkang';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/JSDongkang-Regular.eot);
  src: url(fonts/JSDongkang-Regular.eot?#iefix) format('embedded-opentype'),
    url(fonts/JSDongkang-Regular.woff) format('woff'),
    url(fonts/JSDongkang-Regular.ttf) format('truetype');
}

/*
@font-face {
  font-family: 'JSDongkang';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/JSDongkang-Bold.eot);
  src: url(fonts/JSDongkang-Bold.eot?#iefix) format('embedded-opentype'),
       url(fonts/JSDongkang-Bold.woff) format('woff'),
       url(fonts/JSDongkang-Bold.ttf) format('truetype');
}
*/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/NotoSansKR-Thin.woff2) format('woff2'),
    url(fonts/NotoSansKR-Thin.woff) format('woff'),
    url(fonts/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/NotoSansKR-Light.woff2) format('woff2'),
    url(fonts/NotoSansKR-Light.woff) format('woff'),
    url(fonts/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NotoSansKR-Regular.woff2) format('woff2'),
    url(fonts/NotoSansKR-Regular.woff) format('woff'),
    url(fonts/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/NotoSansKR-Medium.woff2) format('woff2'),
    url(fonts/NotoSansKR-Medium.woff) format('woff'),
    url(fonts/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/NotoSansKR-Bold.woff2) format('woff2'),
    url(fonts/NotoSansKR-Bold.woff) format('woff'),
    url(fonts/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(fonts/NotoSansKR-Black.woff2) format('woff2'),
    url(fonts/NotoSansKR-Black.woff) format('woff'),
    url(fonts/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
  font-family: 'NanumSquareRoundR';
  src: url(fonts/NanumSquareRoundR.eot);
  src: url(fonts/NanumSquareRoundR?#iefix) format('embedded-opentype'),
    url(fonts/NanumSquareRoundR.woff2) format('woff2'),
    url(fonts/NanumSquareRoundR.woff) format('woff'),
    url(fonts/NanumSquareRoundR.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundL';
  src: url(fonts/NanumSquareRoundL.eot);
  src: url(fonts/NanumSquareRoundL.eot?#iefix) format('embedded-opentype'),
    url(fonts/NanumSquareRoundL.woff2) format('woff2'),
    url(fonts/NanumSquareRoundL.woff) format('woff'),
    url(fonts/NanumSquareRoundL.ttf) format('truetype');
}

@font-face {
  font-family: 'BlackHanSans-Regular';
  src: url(fonts/BlackHanSans-Regular.ttf);
  src: url(fonts/BlackHanSans-Regular.ttf) format('truetype');
}
